.form-perfil-principal{
    margin-left: 15vh;
    background-color:lightsteelblue;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3,1fr);

    height: 70vh;
    width: 80%;
    border-radius: 20px;
}

.form-perfil-principal div{
    display: grid;
    width: 100%;
    padding: 5vh;
    grid-template-rows: repeat(2,1fr);
    justify-items: start;
}

.form-perfil-principal div input{
    width: 70%;
}